<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="homepage.css"> -->
  <title>דף הבית</title>
</head>

<body>
  <section class="section">
    <h6 class="close_i">
      <a (click)="close()" class="x"><img src="../../assets/icons/x.png" class="icon_s" alt="סגירת הדיאלוג"></a>
    </h6>
    <div class="text">
      <strong> שימי לב,</strong>
      עדיין לא פרסמת את כרטיס העסק שלך
      <br />
      חבל על כל יום שעובר...
      <br /> <br />
      ,רק בעלת עסק רשום באתר יכולה לראות פרטי התקשרות של עסקים, לשתף אותנו בשת"פים ולהרויח, ליהנות משימוש מלא באתר
      <strong> ולהגדיל את הרווחים בעסק דרך windo!</strong>
    </div>
    <button class="center btn-user" (click)="goToBussinessPage()">
      תודה על התזכורת
      <br />
      <strong>אני רוצה לעשות את זה עכשיו</strong>
    </button>
  </section>

</body>

</html>