<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>עצמאית</title>
</head>

<body>
<!-- <a href="mailto:BH@temech.org?subject=הגעתי מאתר תמך ואשמח למידע על .... "> -->
  <div class="content" (click)="openEmailInGmail()">
    <img src="../../../../assets/img-pages/תמך לעצמאית – 1.png" alt="">
  </div>
  
<!-- </a> -->
  <!-- styleClass="breadCrumbsBlue" -->


  <!-- מיורק בשביל התמונה -->
  <!-- <p-breadcrumb [model]="breadcrumbService.breadcrumbs$.source | async"></p-breadcrumb>
  <div class="first-blue-part">
    <span class="small-red-title">עצמאית</span> -->



    <!-- <h1>הפרקטיקה</h1> -->



     <!-- מיורק בשביל התמונה -->
    <!-- <h1>הכל על עצמאיות</h1>
  </div> -->



 <!-- מיורק בשביל התמונה -->
  <!-- <div class="slider">
    <div class="slide" id="slide1"> -->



      <!-- תוכן הקומפוננטה הראשונה -->

       <!-- מיורק בשביל התמונה -->
    <!-- </div>
    <div class="slide" id="slide2"> -->

      <!-- תוכן הקומפוננטה השנייה -->
       <!-- מיורק בשביל התמונה -->
    <!-- </div>
    <div class="slide" id="slide3"> -->

      <!-- תוכן הקומפוננטה השלישית -->
       <!-- מיורק בשביל התמונה -->
    <!-- </div>
  </div> -->
  



 <!-- מיורק בשביל התמונה -->
  <!-- <h1>קורסים וסדנאות</h1>
  
  <h2>קורסים קבועים</h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square"></div>
        <h5>מטרת תמך לעזור לעצמאיות החרדיות, ולכן באופן קבוע ישנם קורסים לפתיחת עסק, ניהולו או ביסוסו, אם בשיתוף פעולה דרך גופים ממשלתיים ואם דרך גופים פרטיים שהוכיחו את יכולותיהם.</h5>
      </div>
    </li>
  </ul>

  <h2>סדנאות מתחלפות</h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square"></div>
        <h5>יש דברים שעצמאיות תמיד תצטרך, רק שלא באותה תדירות באופן קבוע. לכן יש סדנאות לשיווק וסדנאות למכירות, סדנאות ספציפיות לבעלות מקצועות מסוימים וסדנאות עונתיות.</h5>
      </div>
    </li>
  </ul>



  <h1>נטוורקינג</h1>
  
  <h2>הפורמט</h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square rightsize"></div>
        <h5>ברחבי הארץ מפוזרות עשרות קבוצות של עצמאיות חרדיות במגוון תחומים רחב: לעסקים מתחילים ולמתקדמים, בירושלים, ערד, אחיסמך וחיפה ועוד, למטפלות רגשיות, לבעלות רשימות תפוצה, לדולות ועוד, לדוברות אנגלית או אידיש. תגידי מה עיסוקך ומקום מגורייך ונמצא לך קבוצה מתאימה שתעזור לך להתקדם. 
      </h5>
      </div>
    </li>
  </ul>

  <h2> המהות</h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square"></div>
        <h5>כל קבוצה כוללת מנחה ומשתתפות בעלות מכנה משותף הנפגשות אחת לחודש, דנות בנושא ומתקדמות איתו בעסק. 
      </h5>
      </div>
    </li>
  </ul>



  <h1>הכנס השנתי</h1>
  
  <h2>תמהיל</h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square"></div>
        <h5>כל כנס כולל הרצאות למתכנסות באולם ממותג בקפידה, סדנאות ייעודיות בעברית ובאנגלית שבהן הקהל מתחלק לחדרים, אפשרויות הצגה עצמית וייעוץ עסקי, ארוחה בשרית מושקעת, פעילות הווי וגם WOW לכל כנס</h5>
      </div>
    </li>
  </ul>

  <h2>ההיסטוריה </h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square"></div>
      <h5>למעלה מעשור חוגגת תמך את כנסיה. בשנת ה'תשפ"ג היה כנס תמך ה-12 שנושאו היה 'בינה יתירה', עם פעילות אינטראקטיבית הכוללת בינה מלאכותית ושאר פעלולים טכנולוגיים שהועמדו לרשות מאות העצמאיות החרדיות שגדשו את האולמות בבנייני האומה
      </h5>
      </div>
    </li>
    <li>
      <div class="flexsq">
        <div class="square"></div>
<h5>רוצה לברר מה מתאים לך? התקשרי לבריינדי בטלפון:
   02-50000000
   שלוחה ?
   <button class=" btn-primary " (click)="sendEmail('bh@temech.org')">או שלחי מייל בלחיצה כאן  </button>
      </h5>
      </div>
    </li>
  </ul>


  <h1>ג'רוזלם האב</h1>
  <h5 style="margin-right: 30px;">בעבר ההאב היה הבית לעצמאיות. כיום ישנה פעילות לעצמאיות שחלקה בהאב וחלקה מחוץ להאב. בדף לשכירות
    <a [routerLink]="['/hiring']" [ngClass]="{'active-link':_router.url.includes('hiring')}">שכירה</a>
    כיום ההאב של תמך הוא יחידה בפני עצמה, המכיל בתוכו גם פעילות של נשים שאינן חלק מהעמותה, אלא נהנות משירותיה באופן נקודתי,  לצד היותו קורת גג לפעילויות מטעם תמך.
אם רצית להבין למה שכירה צריכה את ההאב - לחצי כאן
<a [routerLink]="['/hiring']" [ngClass]="{'active-link':_router.url.includes('hiring')}">שכירה</a>
  </h5>




  <h1>מה מציעים בהאב? 
  </h1>
  
  <h2>מרחבים אישיים</h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square"></div>
        <h5><u>משרד פרטי</u></h5>
      </div>
      <ul class="circleul"><li>קיימים 12 משרדים בגדלים שונים, לעובדת אחת עד שלוש עובדות, כשכל משרד כולל בתוכו שולחן עבודה, מדפי אחסון ואפשרות שימוש בשטח הציבורי. 
      </li>
      <li>אפשר לשכור לשעה, ליום, לחודש. פני אלינו לקבלת המחירון. </li>
      <li>מי ששוכרת משרד בקביעות על בסיס חודשי מקבלת צ'יפ לאפשרות כניסה ויציאה מהמתחם 24 שעות, בלי הצורך לחכות לשירותי המזכירה ובלי תלות בשעות הפעילות הרשמיות. 
      </li></ul>
    </li>
  </ul>

  <h2><u>אופן ספייס </u> </h2>
  <ul class="firstsq">
    <li>
      <div class="flexsq">
        <div class="square"></div>
        <ul class="circleul">
          <li>קיימים 22 עמדות עבודה מוכנות. את צריכה לבוא רק עם הלפטופ שלך והסביבה החמימה והמחבקת של ההאב לרשותך. </li>
          <li class="filled-circle"><h2>מרחבים קבוצתיים</h2></li>
          <li><u>כיתת לימוד</u>
              <div class="flexsq">
                <div class="square"></div>
                <h5>בכיתה לוח ומקרן, שולחנות וכיסאות, וכל מה שצריך לאווירת לימוד נעימה עד 30 משתתפות. </h5>
              </div>
            </li>
          </ul>
      </div>
    </li>

    <ul class="circleul">
      <li><u> המקום השלישי</u>
        <div class="flexsq">
          <div class="square rightsize1"></div>
          <h5>מנין מגיע השם הזה? כי הוא מקום קצת שונה, הוא לא בית, הוא לא עבודה, אלא מקום אחר, שלישי. מקום שאפשר ליצור בו שיח, לחשוב על רעיונות, לפתח קהילתיות. זהו מקום שניתן לערוך בו סדנאות ופעילות קבוצתית (עד 17 משתתפות) וכולל מקרן ולוח, אבל הוא בעיקר חדר השראה להשגת תוצאה טובה יותר כי הוויזואל והאבזור שלו משרים מוזה. לא סתם משרד משעמם ויבש. 
          </h5>
        </div>
      </li>
      </ul>
    <ul class="circleul">
      <li><u>חדר ישיבות</u>
        <div class="flexsq">
          <div class="square"></div>
          <h5>אם רצית דיונים סביב שולחן עגול - זה המקום. יש פלזמה על הקיר ולוח, והחדר מכיל עד 12 משתתפות לדיונים, רבי שיח ועבודה קבוצתית. 
          </h5>
        </div>
      </li>
      </ul>
    <ul class="circleul">
      <li><u> פאטיו השלישי</u>
        <div class="flexsq">
          <div class="square"></div>
          <h5>בעיקר לחודשי סתיו, אביב וקיץ, עד 70 משתתפות לאירועים תחת כיפת השמים מול הנוף הירושלמי. זה המקום הקבוע לקבוצות נטוורקינג ולכל פעילות עם ארוחות, בעיקר לאירועי בוקר וערב, כשהבריזה הנושבת והנוף היפהפה מוסיפים לאווירה. 
          </h5>
        </div>
      </li>
      </ul>

<ul class="circleul ">
  <li class="filled-circle"><h2><strong>האזור הציבורי</strong></h2>
    <ul class="circleul">
<li ><u>המטבחון</u>
  <div class="flexsq">
    <div class="square"></div>
    <h5>מאובזר בכל הפרטים הקטנים, כדי שתוכלי להתכבד וגם לכבד את האורחות שלך בקפה, תה ומים חמים וקרים. 
    </h5>
  </div>
</li>
<li><u>פינת ישיבה בלובי</u>
  <div class="flexsq">
    <div class="square"></div>
    <h5>פינת המתנה מטופחת עם ספריה מקצועית לקריאה במקום, בעברית ובאנגלית, בלי השאלה. 
    </h5>
  </div></li>
    </ul>
  </li>

</ul>
<h5>ההאב ממוזג, והחברה במקום היא נשית בלבד. רק נשים יכולות לשכור מקום במרחב האישי או הקבוצתי. 
  האב זו חוויה, זה הווי, זה רישות עסקי, זו נטוורקינג, זו התיידדות. 
  כמו משתלה שבה גדלים עד לשלב של שתיל מפותח שכבר יכול להישתל במקום משלו, ככה יש לא מעט עסקים וגופים שהיו בהאב עד להתבססות וגדילה שאפשרה שתילה מחדש במקום משלהם.
  </h5>

  <ul class="circleul">
    <li ><span class="filled-circle"></span><h2>רוצה להזמין לעצמך מקום?</h2>
       התקשרי לרבקי בוקשפן בטלפון: 02-5423008 שלוחה 0 או שלחי מייל בלחיצה כאן
      <button class=" btn-primary "  (click)="sendEmail('jerusalemhub@temech.org')">או שלחי מייל בלחיצה כאן  </button>
    </li>
  </ul>


  </ul> -->
</body>

</html>