<!DOCTYPE html>
<html lang="he">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>חיפוש</title>
</head>

<body>
  <!-- header -->
  <!-- <header>
      <p-breadcrumb [model]="breadcrumbService.breadcrumbs$ | async"></p-breadcrumb>
    </header> -->
  <!-- main content -->
  <main class="container container-domain">
    <div class="search-container">
      <button class="btn-primary search-button">חיפוש</button>
      <input class="search-input" type="text" placeholder="הקלד תחום" name="" id="" />
    </div>
    <div class="flex flex-column-sm myb-2">
      <div class="inline-block">
        <img class="img-radius" type="image" src="../../assets/flower.jpg" alt="פרח" height="80" />
      </div>
      <div class="grid">
        <h1 class="gridItem1">בנית אתרים</h1>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב מצגו</button>
      </div>
    </div>
    <div class="flex flex-column-sm myb-2">
      <div class="inline-block">
        <img class="img-radius" type="image" src="../../assets/flower.jpg" alt="פרח" height="80" />
      </div>
      <div class="grid">
        <h1 class="gridItem1">בנית אתרים</h1>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
      </div>
    </div>
    <div class="flex flex-column-sm myb-2">
      <div class="inline-block">
        <img class="img-radius" type="image" src="../../assets/flower.jpg" alt="פרח" height="80" />
      </div>
      <div class="grid">
        <h1 class="gridItem1">בנית אתרים</h1>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
      </div>
    </div>
    <div class="flex flex-column-sm myb-2">
      <div class="inline-block">
        <img class="img-radius" type="image" src="../../assets/flower.jpg" alt="פרח" height="80" />
      </div>
      <div class="grid">
        <h1 class="gridItem1">בנית אתרים</h1>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב מצגו</button>
      </div>
    </div>
    <div class="flex flex-column-sm myb-2">
      <div class="inline-block">
        <img class="img-radius" type="image" src="../../assets/flower.jpg" alt="פרח" height="80" />
      </div>
      <div class="grid">
        <h1 class="gridItem1">בנית אתרים</h1>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
        <button class="btn-secendary-outline">עיצוב מצגות</button>
        <button class="btn-secendary-outline">עיצוב אתרים</button>
      </div>
    </div>
  </main>

</body>

</html>