<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הגדלת תמונה</title>
  </head>

<body>
<h6 class="close_i cursorP"><a (click)="this._wrapperFuncService.closeDialog()" class="x"><img
      src="../../../../assets/icons/x.png" class="icon_s" alt="אייקון סגירת הדיאלוג"></a></h6>
<img [src]="src+'?w=500'" class="big-src">
  
</body>

</html>