.errorMessage {
    color: #fff;
}
body {
    /* background-color: gray; */
    width: 500px;
    height: 450px;
}
.rounded-input {
    border-radius: 1rem;
    padding: 0.4rem 20px;
    border: none;
    box-shadow: 2px 2px 4px rgb(190, 187, 187);
}
/* 
.container {
    height:fit-content;
    align-content: center;
    justify-content: center;
    gap:1rem;
    margin-top: 10%;
} */
.container-login {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-left: 0;
}
h5 {
    text-align: center;
}
/*
.card {
    height: 250px;
    margin-top: 10%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.card-header h3 {
    color: white;
}

.card-footer {
    overflow: hidden;
}

.input-group-prepend span {
    width: 50px;
    background-color: #669cb6;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.forgot_btn {
    color: black;
    background-color: #669cb6;
    width: 100px;
}

.forgot_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
    margin-bottom: 8px;
}

.links a {
    margin-left: 4px;
}*/
/*גודל האיקונים*/
.svg-inline--fa.fa-w-14 {
    width: 1.2rem;
}

.svg-inline--fa.fa-w-16 {
    width: 1.2rem;
}
.btn-user {
    background: #373cf5 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #cbcbcb29;
    border-radius: 3rem;
    color: white;
    padding: 0.4rem 1.8rem;
    width: 45%;
    text-align: center;
}
.flex_R {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
    position: relative;
}
.input {
    padding: 0.5rem 0.7rem;
    margin: 0.5rem;
    width: 95%;
    border-radius: 0.5rem;
    border: 1px solid #04e6e0;
    opacity: 1;
}
.input:focus {
    background-color: #04e6e01a;
}
.close_i {
    margin-top: 1rem;
    margin-right: -1rem;
}
.icon_s {
    max-width: 1.7rem;
    max-height: 1.7rem;
    cursor: pointer;
}
.container-spinner{
    position: relative;
    height: 5px;
  }
  .loading-spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    margin: -1rem 1rem 1rem 4rem;
  }