<div class="container-login">
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
        <h6 class="close_i"><a (click)="this._wrapperFuncService.closeDialog()"><img
                    src="../../assets/icons/close.svg" class="icon_s" alt="אייקון סגירת הדיאלוג"></a></h6>
        <div class="flex_R">
            <h5>לא קיבלת אימייל אחרי הרישום?
                <br><br> 
                כתבי כאן את כתובת האימייל המוגדרת
                כשם המשתמש שלך
            </h5>
            <input class="input" type="email" name="Email" id="email" placeholder="Windo!12@gmail.com"
                formControlName="Email" />
            <h5>ומיד נשלח אלייך מייל לאימות ההרשמה</h5>
            <div *ngIf="isLoading" class="container-spinner">
                <img class="loading-spinner" src="../../assets/images/spinner.gif" alt="">
              </div>
  
            <input class="btn-user mt-3" type="submit" value="תשלחו, תודה!" />
        </div>
    </form>
</div>