:host::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:active,
:host::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:visited
{

cursor: pointer;
}

:host::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:focus,
:host::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link:active
{
  /* border: none; */
  box-shadow: none;
  text-decoration: none !important;

}
:host::ng-deep.p-tabview .p-tabview-panels{
  padding: 1rem 0;

}
/* :host::ng-deep .p-datatable .p-datatable-tbody > tr > td{
border:1px solid;
 }
 */
 :host::ng-deep.p-tabview .p-tabview-nav .p-tabview-nav-link:hover{
 text-decoration: none;
 }