.text {
    text-align: center;
}
.flex-banners {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem 1rem;
}
.banner {
    h3 {
        font-weight: var(--clear-font-weight);
    }
    margin: 0 0 4rem;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // padding: 1rem;
    .space-around {
        margin-top: auto;
    }
    .blue-big-button {
        margin: 0.3rem 1rem;
        width: auto;
        min-width: 2rem;
    }
}
.position-abs {
    left: -2%;
    top: -3%;
    .turqis-big-button.smaller {
        width: auto;
        min-width: 3rem;
    }
}
.item {
    width: 30%;
    position: relative;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.item:first-child {
    width: 100%;
    margin: 1rem 35.2%;
}
.item:hover {
    transform: scale(1.15);
}

.space-around {
    justify-content: space-around;
}
.example-image {
    width: 60%;
    height: auto;
    margin: 1rem 0;
}
.padding-1 {
    padding: 0 2rem;
}
.banner-example {
    margin: 1rem;
    border: 1px solid darkgreen;
    background-color: lightgreen;
    color: darkgray;
}
.blue-big-button {
    margin: 2rem 1rem 1rem;
    background-color: #19294d;
    color: white;
    width: 12rem;
    border-radius: 1.9rem;
    padding: 0.6rem;
    border: none;
    font-weight: 700;
    box-shadow: 1px 3px 9px lightgrey;
}
.turqis-big-button {
    padding: 0.6rem;
    margin: 2rem 1rem 1rem;
    background-color: #04e6e0;
    color: #19294d;
    width: 12rem;
    border-radius: 1.9rem;
    border: none;
    font-weight: 700;
    box-shadow: 1px 3px 9px lightgrey;
}
.publication {
    text-align: center;
    // max-width: 82%;
    margin: 2rem 0;
    .bold {
        font-weight: var(--clear-font-weight);
    }
    a {
        width: 10rem;
        height: 2rem;
        padding: 0.5rem;
    }
    a:hover {
        text-decoration: none;
    }
    .grid {
        display: grid;
        align-items: repeat(3, 1rem);
    }
    i.pi-check-circle {
        color: #4ebe9a;
    }
    button {
        margin: 2rem 0;
    }
}
