<!-- <app-header></app-header> -->
<!-- <div class="after-header" [ngClass]="(_wrapperSearchService.HomePage$|async)&&
    !(_wrapperSearchService.LoginStatus$ |async)
    ?'font-color-white':'dark-font'"></div> -->
<div class="container mb-5 mt-5" id="profile">
    <div class="card">
        <div class="card-body">
            <div class="card-body-inner">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 content">
                        <div class="card-body-content">
                            <span class="sub-title">Windo.COM</span>
                            <h2>דע עוד אודותינו</h2>
                            <p>
                                ברוך הבא לאתר שלך <a href="https://techhowdy.com/" target="_blank">Techhowdy</a>. הרעיון
                                העיקרי
                                של הבלוג הזה
                                העברת פתרונות וחדשות טכנולוגיות למשתמשים בצורה
                                מאוד פשוטה.
                            </p>
                            <p>אנחנו כמעט מכסים את כל הנושאים הקשורים לטכנולוגיה
                                בבלוג זה.</p>
                            <p>
                                הוואי טק עוזר לאנשים להשתמש במאמרים ובביקורות
                                שלנו בכדי לדעת את המגמות והביקורות העדכניות
                                ביותר סביב הטכנולוגיה
                                היום.
                            </p>
                            <!--<ul class="features-list">
                                <li>
                                    <span><i class="fab fa-facebook-f"></i>
                                        <a
                                            href="https://www.facebook.com/techhowdy"
                                            target="_blank"> Facebook</a></span>
                                </li>
                                <li>
                                    <span><i class="fab fa-youtube"></i>
                                        <a
                                            href="https://www.youtube.com/channel/UC58AAnVqw_sF6LBAKJJES4Q"
                                            target="_blank"> Youtube</a></span>
                                </li>
                                <li>
                                    <span><i class="fab fa-linkedin-in"></i>
                                        <a href="https://www.linkedin.com/feed/"
                                            target="_blank"> Linkedin</a></span>
                                </li>
                            </ul>-->
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 image">
                        <div class="about-image">
                            <img src="assets/images/profilepic.png" alt="תמונת פרופיל" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>