<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>החזון</title>
</head>

<body>
  <!--  styleClass="breadCrumbsBlue" -->
  <p-breadcrumb [model]="breadcrumbService.breadcrumbs$.source | async">
  </p-breadcrumb>
  <div class="first-blue-part">
<img src="../../../../assets/img-pages/אודות.png" alt="" style="height: 50vh;">
    <!-- <span class="small-red-title">אודות</span>
    <h1>תמך ואפיק הפרנסה שלך</h1> -->
  </div>
  <div class="flex">
    <div class="nav" >
      <h2 class="light-text">עמותת תמך - <br> פיתוח<br> וקידום <br>הזדמנויות <br>תעסוקה<br> לאשה <br>החרדית</h2>
      <!-- <div class="wrap-link"><a [routerLink]="['']"><h4>'עמותת תמך. פיתוח וקידום הזדמנויות תעסוקה לאשה החרדית'</h4></a></div> -->
      <!-- <div class="wrap-link"><a [routerLink]="['/vision']">החזון</a></div>
      <div class="wrap-link"><a [routerLink]="['/tiding']">הבשורה</a></div> -->
      <!-- <div class="wrap-link"><a [routerLink]="['/independent']">הפרקטיקה</a></div>  -->
    </div>
    <section class="text-section">
      <p>
        עמותת תמך הוקמה בשנת ה'תשס"ה (2005) במטרה לקדם אפשרויות תעסוקה לנשים חרדיות 
        ולהגדיל את רווחתן הכלכלית.
          תמך כאן בשביל לתת לך העצמה, לממש את הפוטנציאל המקצועי והאישי שלך, ובו בזמן לאפשר לך להתפרנס בכבוד.
      </p>
      <p>
        תמך עושה זאת באמצעות שיתוף פעולה ועבודה צמודה מול מעסיקים, 
        קובעי מדיניות בממשלה ומנהיגי מוסדות גדולים.
        במקביל העבודה היא גם פנימית - עם הקהילה החרדית ומנהיגיה. 
        כך מצליחה תמך לייצר ערך אמיתי עבור כל אחד משותפיה.
      </p>
      <p>
        לא פלא שעמותת תמך נהנית מתמיכה מלאה של גדולי ישראל 
        בארץ ובחו"ל. הדבר נובע מהתיאום עם מנהיגי הקהילות והמוסדות
        החינוכיים כדי לזהות ולתת מענה למה שאת צריכה כדי להתקדם.
      </p>
      <p>

        על הרקע הזה, די טבעי שעם התפתחות הפתרונות הדיגיטליים הכשרים
        לציבור החרדי - גם שם תמך תהיה בשבילך, כדי לתת לך את מלוא הכלים והמידע, בין אם את שכירה 
        ובין אם את עצמאית. הושקעו מאמצים רבים, זמן ממושך ומשאבים בלתי מבוטלים
          כדי להקים אתר מותאם אישית שישרת ויקדם אותך במקסימום האפשרי.
      </p>
      <p class="boldText">
        לאתר WINDO שתי מטרות עיקריות:
      </p>
      <div class="wrap-card flex">
        <article class="card">
            לעצמאית - לסייע לנשים בקהילת העסקים שלנו לקבל מידע על פעילות שיכולה לתמוך בשיפור ההכנסו
          ת, ולאפשר שיווק פנימי של העסק שלך כחלק מקהילת אלפי בעלות העסקים בתמך. האתר מאפשר לך ליצור
          קשר עם עצמאיות ובעלות עסק אחרות ונותן לך במה להציג את הצעותייך בכרטיס העסק,
          בלוח המודעות או בפנייה אישית דרך המידע כאן באתר.
        </article>
        <article class="card"> לשכירה - אתר תמך הוא מקום דינמי ומתחדש, 
          המאפשר לך לוח מודעות פעיל, אלפון מתעדכן, רשימת עסקים בקהילה,
          ולא מעט ידע על פעילויות קבוצתיות ואישיות שיכולות לאפשר לך שיפור כלכלי.
          אם חיפשת משהו ספציפי ולא מצאת - תמיד תוכלי לפנות אלינו ונשמח לעזור.</article>
      </div>
      <p>
        העקרונות של תמך תקפים גם כאן במרחב הדיגיטלי: 
        שתוכלי למצוא את הדרך להגדלת מעגל ההכנסות מבלי לוותר על העקרונות והערכים שלך.
      </p>
    </section>
  </div>
  <!-- <section class="last-section">
      <div>
          <h1>עשרות הצעות מחכות</h1>
          <h1>לעסק שלך כאן באתר!</h1>
          <h2>זה בחינם בקלות ובמהירות</h2>
          <button class="light-red">מצאי שת"פ</button>
      </div>
  </section> -->

</body>

</html>