@import '../../../../styles/variables';
.message {
    padding: 0.8rem 1.5rem 0.3rem 1.2rem;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgray;
    position: relative;
    background-color: $light-selected-color;
    div.text-message {
        max-height: 40px;
        overflow-y: hidden;
        padding-right: 65px;
    }
    .text-message > p {
        margin-bottom: 0.3rem !important;
    }
    *::-webkit-scrollbar {
        display: none;
    }
    h4.first-letter.AroundFirstLetter {
        padding: 0.5rem 1rem;
    }
}
.message:hover {
    background-color: #fafafa;
}
.message.active {
    // border: 3px solid $dark-turquoise-color;
    background-color: #f16b7e;
    border: none;
    margin: 0.5rem 0;
    border-radius: 0.4rem;
}

.message.not-read {
    background-color: #fff;
}

.business-part {
    align-items: center;
    gap: 0.9rem;
    // max-width: calc(100% -6rem);
}
.img-radius {
    width: 50px;
    height: 50px;
}
.red {
    color: $light-red;
}
.top-side {
    // position: relative;
    display: flex;
    gap: 0.5rem;
    color: $dark-blue-color;
    position: absolute;
    left: 1rem;
    align-items: center;
    // small{
    //      width: 6.3rem;
    // }
}
small.gray-span {
    background-color: lightgray;
    border: 1px solid;
    border-radius: 1.9rem;
    /* margin-right: 0.8rem; */
    /* padding: 0.1rem 0.3rem; */
    position: absolute;
    width: 6.3rem;
    text-align: center;
    margin-top: -0.5rem;
    margin-right: -5.5rem;
}

.space-between {
    justify-content: space-between;
}

.no-messages {
    text-align: center;
    margin-top: 4.5rem;
    font-size: 1.4rem;
    color: #c9c9c9;
    h4 {
        font-weight: var(--clear-font-weight);
    }
}
.blue {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0.4rem;
    height: 100%;
    background-color: #373cf5;
}
