@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
.p-breadcrumb {
  direction: rtl;
  text-align: right;
  border: none !important;
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.p-progressbar {
  border-radius: 1rem !important;
  width: 70% !important;
}

.p-progressbar .p-progressbar-value {
  background-color: #5ff8f3 !important;
}

.p-dropdown.p-dropdown-clearable {
  border: none;
  width: 95%;
  margin: 15px 7px;
  padding: 0.3rem;
  -webkit-box-shadow: 2px 2px 4px #cecccc;
          box-shadow: 2px 2px 4px #cecccc;
}

.p-dropdown:not(.p-disabled).p-focus {
  outline: none !important;
  border-color: unset !important;
  -webkit-box-shadow: 2px 2px 4px #cecccc !important;
          box-shadow: 2px 2px 4px #cecccc !important;
}

.p-dropdown .p-dropdown-clear-icon {
  right: unset !important;
}

.p-dropdown.p-dropdown-clearable.rounded-select {
  border-radius: 1.5rem;
  border: solid 1px #aaa7a7;
  color: #aaa7a7;
  width: 11rem;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.p-dropdown.p-dropdown-clearable.rounded-select .p-dropdown-panel {
  border-radius: 1rem;
}

.p-dropdown {
  padding: 0.4rem 0.8rem !important;
  margin: 1rem 0;
  width: 78% !important;
  border-radius: 0.5rem !important;
  border: 1px solid #19294d !important;
  opacity: 1;
}

.p-dropdown.p-dropdown-clearable.input :focus-within {
  border-color: #5ff8f3;
}

.inputMultiSelect {
  padding: 0.4rem 0.8rem;
  margin: 1rem 0;
  width: 78%;
  max-width: 24rem;
  border-radius: 0.5rem !important;
  border: 1px solid #19294d !important;
  opacity: 1;
}

.breadCrumbsBlue {
  background-color: #19294d !important;
}

.p-paginator .p-dropdown {
  direction: initial;
  width: 109% !important;
  height: 3.357rem !important;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last .breadCrumbsBlue ul li .p-menuitem-link .p-menuitem-text,
.breadCrumbsBlue ul li.p-breadcrumb-chevron {
  margin-right: 2rem !important;
}

.p-paginator .p-paginator-first {
  margin-left: -1rem !important;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.p-paginator .p-paginator-next, .p-paginator .p-paginator-last, .p-paginator .p-paginator-prev {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.p-multiselect:focus {
  border-color: #5ff8f3;
  outline: none;
}

.p-fileupload-content .p-progressbar {
  width: 100% !important;
  height: 0.4rem;
}

.p-fileupload .p-fileupload-buttonbar {
  background-color: transparent !important;
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.p-fileupload .p-fileupload-content {
  border: none !important;
  -webkit-box-shadow: 0 2px 2px #cccaca, 0 2px 2px #cccaca !important;
          box-shadow: 0 2px 2px #cccaca, 0 2px 2px #cccaca !important;
}

.p-fileupload .p-fileupload-buttonbar .p-button {
  background-color: #00c8f9 !important;
  border: none !important;
  border-radius: 1.5rem;
}

.p-fileupload .p-fileupload-buttonbar .p-button:hover {
  opacity: 0.7;
}

.p-button .p-button-icon-left {
  background-color: #e2e0e0 !important;
  border-radius: 50%;
  padding: 0.3rem;
  margin-left: 0.3rem;
}

.p-button.p-button-icon-only {
  background-color: #f3f3f3;
  border: none !important;
  border-radius: 50%;
}

.p-galleria .p-galleria-thumbnail-container {
  background-color: white !important;
  padding: unset !important;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
  color: red !important;
  z-index: 1000;
}

#pr_id_1 .p-galleria-thumbnail-item {
  margin-right: 0.4rem;
}

@media screen and (min-width: 1400px) {
  .product-item {
    width: 320px;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--surface-d);
    position: relative;
  }
  .product-item .product-item-content {
    text-align: center;
    padding: 2rem 0;
    padding: 1rem;
  }
  .product-item .product-item-content .container-product-image {
    margin: auto;
    width: 130px;
    height: 130px;
    padding: 1rem;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    border-radius: 5%;
  }
  .product-item .product-item-content .container-product-image .product-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1399px) {
  .product-item {
    width: 32%;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--surface-d);
    position: relative;
  }
  .product-item .product-item-content {
    text-align: center;
    padding: 2rem 0;
    padding: 1rem;
  }
  .product-item .product-item-content .container-product-image {
    margin: auto;
    width: 110px;
    height: 110px;
    padding: 1rem;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
  }
  .product-item .product-item-content .container-product-image .product-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.p-togglebutton.p-button.p-highlight {
  border-radius: 1.5rem;
  background-color: #00c8f9 !important;
  margin: 2rem 0 1rem 0;
  border: none;
  outline: none;
}

.p-togglebutton.p-button:not(.p-highlight) {
  border-radius: 1.5rem;
  background-color: #f3f3f3 !important;
  margin: 2rem 0 1rem 0;
  outline: none;
}

.p-togglebutton.p-button.p-highlight:hover {
  border: none;
  opacity: 0.7;
  outline: none;
}

.p-togglebutton.p-button.p-highlight:focus {
  outline: none;
}

.p-togglebutton.p-button.p-highlight .p-button-icon-left,
.p-togglebutton.p-button.p-highlight .p-button-icon-right {
  color: #19294d;
}

.p-highlight > .p-button-label {
  margin-right: 0.3rem;
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f6f6ff;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #d3f2f1;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  background-color: #00c8f9;
  color: white;
  border: none;
}

.p-checkbox {
  margin-left: 1rem;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #00c8f9 !important;
  border-color: #00c8f9 !important;
}

.p-float-label > label {
  left: none;
  right: 0.6rem;
}

.p-float-label .input:-webkit-autofill ~ label {
  top: 10px !important;
  background: white;
  padding: 0.3rem 1.5rem;
  width: -webkit-fit-content;
  width: fit-content;
  right: 0.5rem !important;
  border-radius: 0.6rem;
  border: solid 1px black;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
  border-radius: 7px !important;
  border: 1px solid #19294D !important;
  padding: 6px 25px !important;
}

:host ::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
  gap: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  float: right !important;
}

.input-field {
  background-color: transparent;
  border: unset;
  border-bottom: solid gray 1px;
  margin-bottom: 1.8rem;
  width: 100%;
}

.errorMessage {
  color: red !important;
  margin-bottom: 0.5rem;
  margin-right: 0.3rem;
}

.center {
  text-align: center;
}

.container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3rem 3rem 3rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 30px #aaa8a829;
          box-shadow: 0px 10px 30px #aaa8a829;
  opacity: 1;
}

.btn-1 {
  margin-top: 0;
  width: 85%;
}

.btn-2 {
  padding: 0.45rem 3rem !important;
  margin-top: 20px;
  border-radius: 1.5rem !important;
  width: 60%;
  margin-right: 3.5rem !important;
}

z-in * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #19294d;
}

body,
html {
  direction: rtl;
  text-align: right;
}

@media screen and (min-width: 481px) {
  .container {
    max-width: 70%;
    margin: auto;
  }
  /* קלסים משותפים לקומפוננטות: בארטר, פרופיל */
  .profile {
    z-index: 100;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 25%;
    padding: 25px 20px 60px 20px;
    margin-bottom: 20px;
    max-height: 820px;
    margin-top: -11rem;
    -webkit-box-shadow: 2px 2px 6px #c9c8c8;
            box-shadow: 2px 2px 6px #c9c8c8;
  }
  .outline-card,
  .outline-card1,
  .outline-card1_last,
  .outline-cardLast,
  .outline-card_last {
    direction: rtl;
    background-color: transparent;
    border: solid 1px #adaaaa;
    margin: 1.5rem auto;
    padding: 3rem 4rem;
    width: 100%;
  }
  .left-side-container {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-right: auto;
  }
  .search-button {
    position: absolute;
    padding: 12px 20px;
    left: 0px;
    margin: 0px;
    width: 15%;
    font-size: 1.1rem;
    border-radius: 25px !important;
    bottom: 0px;
    height: 100%;
    z-index: 1000;
  }
  .ng-dropdown-panel {
    padding: 1rem;
    border-radius: 1.5rem;
    z-index: 700 !important;
    width: 98% !important;
    background-color: white;
    margin: -0.7rem;
    border-right: #a1a0a0 solid 1px;
    border-left: #a1a0a0 solid 1px;
    border-bottom: #a1a0a0 solid 1px;
    opacity: 1;
  }
  .ng-select {
    z-index: 850;
  }
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 10px 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

header {
  min-height: 10vh;
}

.gallery-container {
  margin: 0 7%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  margin: 5px 0 0 0;
  padding: 0 1rem 0 1rem;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
  background-color: lightgray;
  border-radius: 2rem;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: lightgray;
  border-radius: 2rem;
  padding: 0.1rem 0.5rem;
  margin-left: 0.3rem;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  margin-left: 0.4rem;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  border-radius: 50%;
  background-color: #e7e9ed;
  padding-right: 3px;
  padding-left: 3px;
}

.search-container {
  position: relative;
  text-align: right;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

.search-input {
  top: 0px;
  border-radius: 25px;
  padding: 10px 20px;
  width: 100%;
  text-align: right;
  font-size: 1.1rem;
  border: #19294d solid 1px;
}

.ng-select.search-input {
  top: 0px;
  border-radius: 25px;
  padding: 10px 20px;
  width: 100%;
  text-align: right;
  font-size: 1.1rem;
  border: #19294d solid 1px;
  z-index: 900;
}

.Arrows {
  border-radius: 50%;
  background-color: #ff607c;
  color: white;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem !important;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
}

.Arrows:hover {
  opacity: 0.7;
}

.Arrows-container {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Arrows {
  background-color: #ff607c;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem !important;
}

.Arrows:hover {
  opacity: 0.7;
}

.Arrows:disabled {
  opacity: 0.7;
  background-color: gray;
}

.disabled {
  opacity: 0.7;
  background-color: gray;
}

.arrow1 {
  margin-left: -2.5rem;
}

.arrow2 {
  margin-right: -2.5rem;
}

.card {
  border: solid 1px #cccccc;
  padding: 15px;
  margin: 2px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.flex_SB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cursorP {
  cursor: pointer;
}

.cursorD {
  cursor: default;
}

.gap-10 {
  gap: 10%;
}

.gap-5 {
  gap: 5%;
}

.gap-2 {
  gap: 2%;
}

.box-header {
  color: white;
  background-color: #cec9c9;
  height: 30vh !important;
}

.heart-icon {
  color: #ff607c !important;
}

ul {
  list-style: none;
}

.input:focus {
  background: #04e6e01a 0% 0% no-repeat padding-box;
  border: 1px solid #04e6e0;
  border-radius: 7px;
  opacity: 1;
}

img {
  width: 100%;
}

.img-radius {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-img-radius {
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

.profile-img-radius:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.popover.turquoise-popup {
  background-color: #ccfaf9;
  border: none;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: none;
}

.popover.gray-popup {
  border-radius: 1.5rem;
  background-color: #e7e9ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  color: #19294d;
  padding: 0.5rem;
}

.turquoise-tags {
  background-color: #ccfaf9;
  color: black;
  margin: 4px;
  border-radius: 0.3rem;
  font-size: small;
  text-align: center;
  max-height: 1.2rem;
}

.light-gray-tags {
  background-color: #e7e9ed;
  padding: 1px;
  margin: 4px;
  border-radius: 0.3rem;
  font-size: small;
  max-height: 1.2rem;
}

.btn-white, .btn-secendary-outline, .btn-primary, .btn-none-color, .btn-outline, .btn-secendary-light, .btn-secendary-dark, .btn-royal-blue, .btn-turquoise {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 0.3rem 0.7rem;
  background: #3b3939;
  color: white;
  margin: 1rem 0.7rem 0px 0px;
  border-radius: 1rem;
}

.btn-white {
  background-color: white;
  color: #3b3939;
  -webkit-box-shadow: 2px 2px 4px #b6b5b5;
          box-shadow: 2px 2px 4px #b6b5b5;
}

.btn-secendary-outline {
  background-color: #e9e0e0;
  border: #c7bfbf solid 1px;
  color: #3b3939;
}

.btn-primary {
  background-color: #19294d !important;
}

.btn-none-color {
  background-color: transparent;
  color: black;
}

.btn-none-color:hover {
  border: #e7e9ed solid 1px;
}

.btn-outline {
  background-color: transparent;
  border: #e7e9ed solid 1px;
  color: #3b3939;
}

.btn-secendary-light {
  background-color: #f3f3f3 !important;
  color: #19294d;
}

.btn-secendary-dark {
  background-color: #e7e9ed !important;
  color: #19294d;
}

.btn-royal-blue {
  background-color: #373cf5 !important;
  color: #d8d8d8;
}

.btn-turquoise {
  background-color: #5ff8f3 !important;
  color: #19294d;
}

.btn-primary:hover, .btn-outline:hover, .btn-secendary:hover, .btn-secendary-outline:hover, .btn-white:hover, .btn-turquoise:hover, .btn-royal-blue:hover, .btn-secendary-dark:hover,
.btn-secendary-light :hover, .btn-turquoise:disabled, .btn-royal-blue:disabled, .btn-secendary-dark:disabled,
.btn-secendary-light :disabled, .btn-primary:disabled, .btn-outline:disabled, .btn-secendary:disabled, .btn-secendary-outline:disabled, .btn-white:disabled {
  opacity: 0.5;
}

.btn-primary:focus, .btn-outline:focus, .btn-secendary:focus, .btn-secendary-outline:focus, .btn-white:focus {
  outline: none;
}

.btn-primary:checked, .btn-outline:checked, .btn-secendary:checked, .btn-secendary-outline:checked, .btn-white:checked {
  outline: none;
}

.input {
  padding: 0.8rem 0.8rem;
  margin: 1rem 0;
  width: 27rem;
  border-radius: 0.5rem;
  border: 1px solid #19294d;
  opacity: 1;
}

.input1 {
  width: 26% !important;
  margin: 1rem 1rem;
  opacity: 1;
}

.inputMultiSelect1 {
  padding: 0.4rem 0.8rem;
  margin: 1rem 1rem;
  width: 26%;
  border-radius: 0.5rem !important;
  border: 1px solid #19294d !important;
  opacity: 1;
}

.input2:focus {
  background-color: #d8d8d8;
  border: none;
  outline: none;
}

textarea {
  width: 100%;
  height: 80%;
  border: none;
  margin: 1rem;
}

.card-with-header {
  border-radius: 0.8rem;
  padding: none !important;
  direction: rtl;
  background-color: transparent;
  border: solid 1px #19294d;
  margin: 1.5rem auto;
}

.header-card {
  border-bottom: 1px solid #19294d;
  width: 100%;
  font-weight: bold;
  padding: 0.7rem;
}

textarea:focus-visible {
  outline: none;
}

.advertising {
  background-color: #19294d;
  padding: 1.5rem;
}

.container_ad {
  max-width: 70%;
  direction: rtl;
}

.container_ad1 {
  max-width: 30%;
  direction: ltr;
  text-align: left;
  margin-right: auto;
}

.h3-1 {
  color: white;
  font-weight: bold;
}

.advertising-img-radius {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0;
  margin-left: 1.5rem;
  border-radius: 50%;
  border: 0.4rem solid white;
  -webkit-box-shadow: 2px 2px 4px #b6b5b5;
          box-shadow: 2px 2px 4px #b6b5b5;
  background-color: white;
}

.left-btn {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  max-height: 40px;
  width: 100px;
  padding: 4px 3px 4px 3px;
  margin: 0;
  font-weight: bold;
  font-size: 0.9rem;
}

.a_none {
  text-decoration: none;
  color: white;
}

.custom-btn-primary {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1.9rem;
  padding: 0.3rem 1.3rem;
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
}

/* for register & login */
.gray-page {
  padding: 45px;
  margin-bottom: 30px;
  background: #aca9a9;
}

.blue-font {
  color: #19294d;
}

.btnn-sm {
  font-size: 0.8rem;
}

.btnn-xs {
  font-size: 0.6rem;
}

.ltr {
  direction: ltr;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block;
}

.opacity_4 {
  opacity: 0.4;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-8 {
  margin-right: 8rem;
}

.myb-1 {
  margin-bottom: 1rem;
}

.myb-2 {
  margin-bottom: 2.5rem;
}

.myt-1 {
  margin-top: 1rem;
}

.myt-2 {
  margin-top: 2rem;
}

.myt-3 {
  margin-top: 3rem;
}

.py-1 {
  padding-top: 3rem !important;
  padding-bottom: 5rem !important;
}

.pyt-1 {
  padding-top: 1rem;
}

.pxy {
  padding: 0.5rem 1.5rem;
}

.myt-3 {
  margin-top: 3rem;
}

.mxr-auto {
  margin-right: auto;
}

.mxr-2 {
  margin-right: 2rem;
}

.mxr-1 {
  margin-right: 1rem;
}

.mxl-1 {
  margin-left: 1rem;
}

.mxl-2 {
  margin-left: 2rem;
}

.mxl-5 {
  margin-left: 5rem;
}

.mxl-auto {
  margin-left: auto;
}

.bold {
  font-weight: bold;
  
}

.color2 {
  background-color: transparent;
  max-height: 1rem;
  max-width: 1rem;
}

.font-color-white {
  color: white !important;
}

.font-color-turquoise {
  color: #5ff8f3;
}

.font-color-blue {
  color: #04e6e0;
}

.width-100 {
  width: 100%;
}

.height-200 {
  width: 200px;
}

.absolute-icon {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  color: #ff607c;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile {
    z-index: 100;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 2rem 20px 60px 20px;
    margin-bottom: unset;
    position: unset;
    margin-top: -10vh;
    -webkit-box-shadow: 1px 1px 5px #e9e8e8;
            box-shadow: 1px 1px 5px #e9e8e8;
  }
  .left-side-container {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
  }
  .flex-column-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-primary.big {
    width: 70% !important;
  }
  .search-button {
    position: absolute;
    padding: 12px 30px;
    left: 0px;
    margin: 0px;
    font-size: 1.1rem;
    border-radius: 25px;
    z-index: 4;
  }
}

input:focus,
.modal-header .close:focus {
  outline: none;
  outline-offset: 15px;
}

.popHoverclass {
  background-color: #04e6e0 !important;
  color: pink !important;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 0%;
}

.flexBasis_21 {
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
}

:host ::ng-deep.p-toast-message-content {
  gap: .8rem;
}

:host ::ng-deep.wrap-error-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:host ::ng-deep.p-breadcrumb {
  border-radius: 0;
}

:host ::ng-deep.p-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
  text-decoration: none !important;
}

:host ::ng-deep.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html,
body {
  font-family: 'ploni', sans-serif !important;
  direction: rtl;
  text-align: right !important;
  position: relative;
  margin: 0;
}

@font-face {
  font-family: 'ploni';
  font-weight: 400;
  /*(regular)*/
  font-style: normal;
  src: url("fonts/aaa-fonts/webfont_files/ploni-regular-aaa.woff2") format("woff2"), url("fonts/aaa-fonts/webfont_files/ploni-regular-aaa.woff") format("woff");
}

@font-face {
  font-family: 'ploni-bold';
  font-weight: 700;
  /*(bold)*/
  font-style: normal;
  src: url("fonts/aaa-fonts/webfont_files/ploni-bold-aaa.woff2") format("woff2"), url("fonts/aaa-fonts/webfont_files/ploni-bold-aaa.woff") format("woff");
}

@font-face {
  font-family: 'ploni-black';
  font-weight: 900;
  /*(black)*/
  font-style: normal;
  src: url("fonts/aaa-fonts/webfont_files/ploni-yad-bold-aaa.woff2") format("woff2"), url("fonts/aaa-fonts/webfont_files/ploni-yad-bold-aaa.woff") format("woff");
}

@font-face {
  font-family: 'primeicons';
  font-display: auto;
  src: url("https://localhost:5001/assets/fonts/prime-icons/primeicons.eot");
  src: url("https://localhost:5001/assets/fonts/prime-icons/primeicons.eot?#iefix") format("embedded-opentype"), url("https://localhost:5001/assets/fonts/prime-icons/primeicons.ttf") format("truetype"), url("https://localhost:5001/assets/fonts/prime-icons/primeicons.woff") format("woff"), url("https://localhost:5001/assets/fonts/prime-icons/primeicons.svg?#primeicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.font_ploni_bold {
  font-family: 'ploni-bold', sans-serif !important;
}

.font_ploni_regular {
  font-family: 'ploni-bold', sans-serif !important;
}

.font_ploni_ploni_yad {
  font-family: 'ploni-bold', sans-serif !important;
}

/* @font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
} */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #19294d;
}

.bg-danger {
  background-color: #fc4b6c !important;
}

.bg-success {
  background-color: #21c1d6 !important;
}

.bg-info {
  background-color: #1e88e5 !important;
}

.bg-warning {
  background-color: #ffb22b !important;
}

.bg-white {
  background-color: #fff;
}

.navbar {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #eaecec;
}

.sec-wrapper {
  background: #fff;
  padding: 1.5rem;
  border: 1px solid #eaecec;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 14px;
}

.pg-wrapper {
  padding: 57px 0 60px;
  position: relative;
}

.card {
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 30px;
}

.card-hover {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.chosen-container-single .chosen-single {
  height: calc(2.25rem + 4px) !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 3px !important;
  border: 2px solid #eaecec !important;
  color: #324148 !important;
  font-size: 1rem !important;
}

.chosen-container-single .chosen-single div b {
  margin-top: 2px !important;
}

.chosen-container-single .chosen-search,
.chosen-container .chosen-results {
  font-size: 1rem !important;
}

.form-control {
  color: #324148;
  border-width: 2px;
  border-color: #eaecec;
  padding: 0.375rem 0.75rem;
  height: calc(2.25rem + 4px);
}

.mr-1 {
  margin-right: 1rem;
}

.mh_2rem {
  min-height: 2rem;
}

/* refister & login */
.input-group {
  direction: ltr;
  margin-bottom: 1rem;
}

.input-group > select {
  direction: rtl;
}

.input-group-prepend span {
  width: 50px;
  background-color: #669cb6;
  color: black;
  border: 0 !important;
  height: 100%;
  border-radius: none !important;
}

.form-control {
  text-align: right !important;
}

.btn-user:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.underline {
  text-decoration: underline;
}

.width-200 {
  width: 115px;
}

.after-header {
  min-height: 6.4rem;
  width: 100%;
}

.after-header.font-color-white {
  background-color: #19294d;
}

.after-header.dark-font {
  background-color: transparent;
}

.small-error-img {
  width: 1rem;
  margin-top: -0.2rem;
  margin-left: 0.2rem;
}

.modal-dialog.modal-dialog-centered.modal-md {
  margin-top: 20vh;
}

.next-button {
  background-color: #373cf5;
  color: white;
  border-radius: 1.9rem;
  padding: 7px 40px;
  border: none;
}

.btn-light {
  background-color: #fff;
  color: #373cf5;
  border: 1px solid #373cf5;
}

.first-letter {
  border: 1px solid #5ff8f3;
  border-radius: 50%;
  background-color: white;
  padding: 2.2rem 0.5rem 0.6rem 0.5rem;
  text-align: center;
  max-width: 90px;
  max-height: 100px;
  color: #5ff8f3;
  margin: auto !important;
  line-height: unset !important;
}

.businnesName {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* input */
.inputtext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
 'Segoe UI Symbol';
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  width: 100%;
}

.inputtext:enabled:hover {
  border-color: #2196f3;
}

.inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #a6d5fa;
          box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #2196f3;
}

.form-wrap {
  padding: 10px;
  /* gap: 50px; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-half {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  min-width: 49%;
  padding: 20px;
}

.form-break-row {
  width: 100%;
  padding: 20px;
}

/* tooltip */
.Mytooltip {
  position: relative;
}

.Mytooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 11rem;
  height: auto;
  background-color: #19294d;
  color: white;
  text-align: center;
  border-radius: 0 19px 19px 19px;
  padding: 0.9rem;
  position: absolute;
  z-index: 1;
  top: 2.5rem;
  left: 35%;
}

.picNone {
  display: none;
}

.small {
  z-index: -10000;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin-left-1 {
  margin-left: 1rem;
}

.position-abs {
  position: absolute;
}

.text-align-center {
  text-align: center;
}

.margin-buttom-1 {
  margin-bottom: 1rem;
}

.text-align-end {
  text-align: end;
}

.blue-big-button {
  margin: 2rem 1rem 1rem;
  background-color: #5ff8f3;
  width: 12rem;
  border-radius: 1.9rem;
  padding: 0.6rem;
  border: none;
  font-weight: 700;
  -webkit-box-shadow: 1px 3px 9px lightgrey;
          box-shadow: 1px 3px 9px lightgrey;
}

.red-span {
  color: #f16b7e;
}

.modal-content {
  border-radius: 1.9rem !important;
}

.grid-home {
  width: 82%;
  margin: 0 auto;
  max-width: 1400px;
}

.container-spinner.move {
  -webkit-animation: moving 3s ease-out 0s alternate infinite none running;
          animation: moving 3s ease-out 0s alternate infinite none running;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-spinner.move .loading-spinner {
  width: 100px;
  margin: 1rem;
}

@-webkit-keyframes moving {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes moving {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
    min-height: calc(100% - 100px) !important;
    margin-top: 100px !important;
  }
}
.next-button {
  background-color: #373cf5;
  color: white;
  border-radius: 1.9rem;
  padding: 7px 40px;
  border: none;
}

.btn-light {
  background-color: #fff;
  color: #373cf5;
  border: 1px solid #373cf5;
}

.first-letter {
  border: 1px solid #5ff8f3;
  border-radius: 50%;
  background-color: white;
  padding: 2.2rem 0.5rem 0.6rem 0.5rem;
  text-align: center;
  max-width: 90px;
  max-height: 100px;
  color: #5ff8f3;
  margin: auto !important;
  line-height: unset !important;
}

.businnesName {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* input */
.inputtext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
 'Segoe UI Symbol';
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  width: 100%;
}

.inputtext:enabled:hover {
  border-color: #2196f3;
}

.inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #a6d5fa;
          box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #2196f3;
}

.form-wrap {
  padding: 10px;
  /* gap: 50px; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-half {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  min-width: 49%;
  padding: 20px;
}

.form-break-row {
  width: 100%;
  padding: 20px;
}

/* tooltip */
.Mytooltip {
  position: relative;
}

.Mytooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 11rem;
  height: auto;
  background-color: #19294d;
  color: white;
  text-align: center;
  border-radius: 0 19px 19px 19px;
  padding: 0.9rem;
  position: absolute;
  z-index: 1;
  top: 2.5rem;
  left: 35%;
}

.picNone {
  display: none;
}

.small {
  z-index: -10000;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.margin-left-1 {
  margin-left: 1rem;
}

.position-abs {
  position: absolute;
}

.text-align-center {
  text-align: center;
}

.margin-buttom-1 {
  margin-bottom: 1rem;
}

.text-align-end {
  text-align: end;
}

.blue-big-button {
  margin: 2rem 1rem 1rem;
  background-color: #5ff8f3;
  width: 12rem;
  border-radius: 1.9rem;
  padding: 0.6rem;
  border: none;
  font-weight: 700;
  -webkit-box-shadow: 1px 3px 9px lightgrey;
          box-shadow: 1px 3px 9px lightgrey;
}

.red-span {
  color: #f16b7e;
}

.modal-content {
  border-radius: 1.9rem !important;
}

.grid-home {
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px; */
  width: 82%;
  margin: 0 auto;
  max-width: 1400px;
}

/*# sourceMappingURL=styles.css.map */