<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>הבשורה</title>
    </head>
    
    <body>
   styleClass="breadCrumbsBlue"
      <p-breadcrumb [model]="breadcrumbService.breadcrumbs$.source | async"></p-breadcrumb>
      <div class="first-blue-part">
        <span class="small-red-title">הבשורה</span>
        <h1>הבשורה</h1>
        <h1>למה שת"פ הוא עסק טוב?</h1>
      </div> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../../../../styles/hiring.css"/> -->
  <title>שכירה</title>
</head>

<body>
  <header id="temech">
    <div id="temechTitle">
      <button id="temechBtn">תמך לשכירה</button>
      <p id="temechP">הפעילות השנתית שלנו להצלחה שלך</p>
    </div>
  </header>
  <!-- <div id="temechImg"></div> -->
  <div class="baner">
    <app-advertisment-area [makat]="1009"></app-advertisment-area>
  </div>
  <div id="temechMain">
    <div class="temechMainPart part1">
      <div class="pBtn">
        <div>
          <h2>הכשרה מקצועית</h2>
        </div>
        <p class="temechMainP ">מיזמים שנועדו
          לפתוח לך הזדמנויות תעסוקה חדשניות ומובילות,<br>
          ותוכניות העשרה ממוקדות כגון קורס UX-UI.<br>
          כל אלה נועדו לאפשר לך למצוא עבודה או לשדרג את השכר שלך<br>
          במקום העבודה הקיים.<br>
          פני אלינו ישירות לקבלת מידע
          על האפשרויות שלנו לקידום המקצועי שלך.</p>
        <button (click)="sendEmail()">לפרטים לחצי כאן</button>
      </div>
      <div class="iconImg"><img src="../../../../assets/hiringImg/Group 3916.png" alt="תיאור של התמונה"></div>
    </div>
    <div class="temechMainPart part2">
      <div class="pBtn">
        <div>
          <h2> קורסים וסדנאות</h2>
        </div>
        <p class="temechMainP">חוגי אנגלית נועדו לאפשר לך השתלבות במקום עבודה הדורש התמצאות <br>
          בשפה זו.<br>
          סדנאות התנהלות כלכלית נבונה כמו 'אימהות מעשירות' נועדו לאפשר לך<br>
          איזון פיננסי ועוד ועוד... בהתאם לצרכי השוק.<br>
          פני אלינו ישירות וקבלי מידע ספציפי לגבי סדנאות וקורסים עדכניים,<br>
          שמקדמים אותך כשכירה חרדית</p>
        <button (click)="sendEmail()">לפרטים לחצי כאן</button>
      </div>
      <div class="iconImg"> <img src="../../../../assets/hiringImg/Group 3917.png" alt="תיאור של התמונה"></div>

    </div>

    <div class="temechMainPart part3">
      <div class="pBtn">
        <div>
          <h2> טק אפ</h2>
        </div>
        <p class="temechMainP">התמחות בהנדסאות לבוגרות סמינר.<br>
          התוכנית שתהפוך אותך למתכנתת בעלת נסיון, תמקסם את<br>
          קורות החיים שלך, ותוביל אותך להיות המתכנתת שהתעשייה מגייסת.<br>
          פני אלינו ישירות לרישום לתוכנית הקרובה</p>
        <button (click)="sendEmail()">לפרטים לחצי כאן</button>
      </div>
      <div class="iconImg"><img src="../../../../assets/hiringImg/Group 3918.png" alt="תיאור של התמונה"></div>
    </div>
    <div class="temechMainPart part4">
      <div class="pBtn">
        <div>
          <h2>הכוונה להשמה</h2>
        </div>
        <p class="temechMainP">עמותת תמך חרטה על דגלה את קידום התעסוקה לאישה החרדית,<br>
          לכן אין טבעי מכך שהשמה שלך במיקום התואם את כישורייך, והמאפשר לך<br>
          למצות מהם את מיטבך - היא אחת מפעילויות הדגל אצלנו.<br>
          הצטרפי לתוכניות הקידום!<br>
          שלנו</p>
        <button (click)="sendEmail()">לפרטים לחצי כאן</button>
      </div>
      <div class="iconImg"><img src="../../../../assets/hiringImg/Group 3919.png" alt="תיאור של התמונה"></div>
    </div>
  </div>


  <!-- 
        <p-breadcrumb [model]="breadcrumbService.breadcrumbs$.source | async"></p-breadcrumb>
        <div class="first-blue-part">
          <span class="small-red-title">שכירה</span>

        </div> -->
  <!-- styleClass="breadCrumbsBlue" -->
  <div class="content" >
    <!-- <img src="../../../../assets/img-pages/תמך לשכירה – 1.png" alt="" > -->
  </div>




  <!-- <h1>הפרקטיקה</h1> -->


  <!-- מיורק בשביל התמונה -->
  <!-- <h1>הכל על שכירות</h1>
        </div> -->

  <!-- <li class="filled-circle"><h2><strong>האזור הציבורי</strong></h2> -->


  <!-- מיורק בשביל התמונה -->
  <!-- <ul class="circleul">
        <li ><u>הכשרה מקצועית</u>
          <div class="flexsq">
            <div class="square"></div>
            <h5>טקאפ הוא דוגמה להכשרה מקצועית בהייטק שעשרות כבר עברו אותה בהצלחה. כמוה ישנן תוכניות הכשרה נוספות. פני אלינו ונשמח לעדכן אותך.
            </h5>
          </div>
        </li>
        <li><u>קורסים וסדנאות העשרה</u>
          <div class="flexsq">
            <div class="square"></div>
            <h5>קורסי אנגלית שוטפת מסובסדים בידי תמך, כמו גם קורסים להשכלה פיננסית כמו 'אימהות מעשירות', כדי לתת לך כלים להתקדם במקום העבודה שלך ומחוצה לו
            </h5>
          </div></li>
        <li><u>השמה ממוקדת </u>
          <div class="flexsq">
            <div class="square"></div>
            <h5>עמותת תמך מארגנת השמה לקבוצות מאורגנות של בוגרות סמינר בחברות ידועות במשק הישראלי
            </h5>
          </div></li>

        
            <div class="flexsq">
              <div class="square"></div>
      <h5>רוצה לברר מה מתאים לך? התקשרי לרותי סירוטה בטלפון:
         02-50000000
         שלוחה ?
         <button class=" btn-primary " (click)="sendEmail('rci@temech.org')">או שלחי מייל בלחיצה כאן  </button>
            </h5>
            </div>
<h1>מה שכירות עושות בג'רוזלם האב?
</h1>

<div class="flexsq">
  <div class="square"></div>
<h5>באופן ספייס יושבות בוגרות סמינר ונשים שעובדות בעבודה מרחוק כשכירות מן המניין במשרדים שונים, רק במקום לשבת בבית או להרחיק למשרד המעסיק - הן יושבות בהאב. 
</h5>
</div>
<div class="flexsq">
  <div class="square"></div>
<h5>לפעמים בעל העסק שוכר עמדות אופן ספייס לעובדות מרחוק ולפעמים זו יוזמה של השכירות עצמן שרוצות להפריד בית-עבודה. ישיבה בעמדת עבודה בהאב בסביבה הנשית-חרדית, נעימה יותר מאשר במשרדים מעורבים.
</h5>
</div>
<div class="flexsq">
  <div class="square"></div>
<h5>גם במשרדים הפרטיים יש נשים שעובדות כשכירות. הבעלים בעסק שוכר בשבילן את המשרד ואז הן מקבלות קהל שם. </h5>
</div>
<div class="flexsq">
  <div class="square"></div>
<h5>למשל, יש נציגה מטעם המרכז למימוש זכויות המגיעה יום קבוע פעם בשבוע, לקבלת קהל בירושלים. 
</h5>
</div>


<h1>ומה מציעים בהאב? 
</h1>
<ul class="circleul"><li><h5><strong>מרחבים אישיים
</strong></h5></li></ul>

<h5><u>משרד פרטי 
</u></h5>
<li>קיימים 12 משרדים בגדלים שונים, לעובדת אחת עד שלוש עובדות, כשכל משרד כולל בתוכו שולחן עבודה, מדפי אחסון ואפשרות שימוש בשטח הציבורי. 
</li>
<li>אפשר לשכור לשעה, ליום, לחודש. פני אלינו לקבלת המחירון. 
</li>
<li>מי ששוכרת משרד בקביעות על בסיס חודשי מקבלת צ'יפ לאפשרות כניסה ויציאה מהמתחם 24 שעות, בלי הצורך לחכות לשירותי המזכירה ובלי תלות בשעות הפעילות הרשמיות. 
</li>
<div class="flexsq">
  <div class="square"></div>
<h5><u>אופן ספייס</u>
<ul class="circleul">
  <li class="filled-circle">קיימים 22 עמדות עבודה מוכנות. את צריכה לבוא רק עם הלפטופ שלך והסביבה החמימה והמחבקת של ההאב לרשותך. 
  </li>
 
</ul></h5>
</div>


<li class="filled-circle"><strong>מרחבים קבוצתיים</strong>
  <ul class="circleul">
    <li><u>כיתת לימוד </u>
      <div class="flexsq">
        <div class="square"></div>
        <h5>בכיתה לוח ומקרן, שולחנות וכיסאות, וכל מה שצריך לאווירת לימוד נעימה עד 30 משתתפות. 
        </h5>
        </div>
    </li>
  </ul>
  <ul class="circleul">
    <li><u>המקום השלישי</u>
      <div class="flexsq">
        <div class="square"></div>
        <h5>מנין מגיע השם הזה? כי הוא מקום קצת שונה, הוא לא בית, הוא לא עבודה, אלא מקום אחר, שלישי. מקום שאפשר ליצור בו שיח, לחשוב על רעיונות, לפתח קהילתיות. זהו מקום שניתן לערוך בו סדנאות ופעילות קבוצתית (עד 17 משתתפות) וכולל מקרן ולוח, אבל הוא בעיקר חדר השראה להשגת תוצאה טובה יותר כי הוויזואל והאבזור שלו משרים מוזה. לא סתם משרד משעמם ויבש. 
        </h5>
        </div>
    </li>
  </ul>
  <ul class="circleul">
    <li><u>חדר ישיבות</u>
      <div class="flexsq">
        <div class="square"></div>
        <h5>אם רצית דיונים סביב שולחן עגול - זה המקום. יש פלזמה על הקיר ולוח, והחדר מכיל עד 12 משתתפות לדיונים, רבי שיח ועבודה קבוצתית. 
        </h5>
        </div>
    </li>
  </ul>
  <ul class="circleul">
    <li><u>פאטיו</u>
      <div class="flexsq">
        <div class="square"></div>
        <h5>בעיקר לחודשי סתיו, אביב וקיץ, עד 70 משתתפות לאירועים תחת כיפת השמים מול הנוף הירושלמי. זה המקום הקבוע לקבוצות נטוורקינג ולכל פעילות עם ארוחות, בעיקר לאירועי בוקר וערב, כשהבריזה הנושבת והנוף היפהפה מוסיפים לאווירה. 
        </h5>
        </div>
    </li>
  </ul>
</li>


<li class="filled-circle"><strong>האזור הציבורי
</strong>
  <ul class="circleul">
    <li><u>המטבחון
    </u>
      <div class="flexsq">
        <div class="square"></div>
        <h5>מאובזר בכל הפרטים הקטנים, כדי שתוכלי להתכבד וגם לכבד את האורחות שלך בקפה, תה ומים חמים וקרים. 
        </h5>
        </div>
    </li>
  </ul>
  <ul class="circleul">
    <li><u>פינת ישיבה בלובי
    </u>
      <div class="flexsq">
        <div class="square"></div>
       <h5>פינת המתנה מטופחת עם ספריה מקצועית לקריאה במקום, בעברית ובאנגלית, בלי השאלה. 
      </h5>
        </div>
    </li>
  </ul>
</li>

<h5>
  ההאב ממוזג, והחברה במקום היא נשית בלבד. רק נשים יכולות לשכור מקום במרחב האישי או הקבוצתי. 
האב זו חוויה, זה הווי, זה רישות עסקי, זו נטוורקינג, זו התיידדות. 
כמו משתלה שבה גדלים עד לשלב של שתיל מפותח שכבר יכול להישתל במקום משלו, ככה יש לא מעט עסקים וגופים שהיו בהאב עד להתבססות וגדילה שאפשרה שתילה מחדש במקום משלהם

</h5>

<ul class="circleul">
  <li ><span class="filled-circle"></span><h2>רוצה להזמין לעצמך מקום?</h2>
     התקשרי לרבקי בוקשפן בטלפון: 02-5423008 שלוחה 0 או שלחי מייל בלחיצה כאן
    <button class=" btn-primary "  (click)="sendEmail('jerusalemhub@temech.org')">או שלחי מייל בלחיצה כאן  </button>
  </li>
</ul>

            </ul> -->



</body>

</html>

<!-- <div class="flex">
        <div class="nav">
          <div class="wrap-link"><a [routerLink]="['/vision']">החזון</a></div>
          <div class="wrap-link"><a [routerLink]="['/hiring']">הבשורה</a></div>
          <div class="wrap-link"><a [routerLink]="['/practice']">הפרקטיקה</a></div>
        </div>
        <section class="text-section">
          <p>
            שיתוף פעולה הוא לא המצאה אנושית אלא המצאה אלוקית.
          </p>
          <p>
            הבריאה בנויה בתור שיתוף פעולה בין אינספור מרכיבים מכל הרמות: דומם, צומח, חי, מדבר.
            איך זה מתנהל?
            <br>
            ברובד הבסיסי ביותר, של המים: <br>
            אדי מים מצטברים לעננים<br>
            העננים מתעבים לגשם <br>
            הגשם משקה את הצומח, את החי ואת האדם. <br>
            כל אלה לא רק צורכים מים, אלא גם מזיעים אדי מים שמתנדפים לאטמוספירה, <br>
            ואז שוב מתחיל מחזור המים בטבע. <br>
          </p>
          <p>זהו שיתוף פעולה שבו מרכיב אחד [=מים] מתניע הכל. </p>
          <p>
            בעסקים קורה אותו דבר, <br>
            רק שבמקום המים העוברים בין כולם - <br>
            יש כסף.
          </p>
          <p>
            חשוב להבין את הנקודה הזאת כדי להבין מהו שת"פ.
          </p>
          <p>
            לא כל כך משנה כמה נחמד לך לבלות עם מישהי, <br>
            בסופו של דבר זה יוגדר כשת"פ טוב, <br>
            רק אם שתיכן הרווחתן ממנו כסף. <br>
            בשת"פ אין כסף ממשי שעובר מיד ליד, <br>
            אבל הפעולה המשותפת גורמת ללקוחות נוספים, וממילא להכנסה נוספת.
          </p>
          <p>
            זה אומר שבעצם יש מדד פשוט לשת"פ מצליח: <br>
            אם הוא מניב.
          </p>
          <p class="blue-border">
            שימי לב! <br>
            לא על הכסף לבדו יחיה האדם, היות שעסקים עושים עם אנשים. <br>
            זאת הסיבה שאם אין כימיה בין האנשים שמנהלים את העסקים, גם שת"פ מוצלח עסקית יתקשה להמשיך.
          </p>
          <p class="red-stroke">
            מה ההבדל בין שת"פ אפקטיבי לשת"פ שאינו כזה? <br>
            המדד הוא פשוט וקל: <br>
            <span class="boldText">
              האם יש לך שת"פ שאת יכולה בפירוש לומר שהוא מייצר לך הכנסה קבועה?
            </span> <br>
            אם זה לא בדיוק כך… יתכן שזהו שת"פ בלתי אפקטיבי. <br>
          </p>
          <p class="red-stroke">
            מהו סוד הפעלת שת"פ נכון? <br>
            הוא מבוסס על הדדיות! <br>
            ממוקד באינטרס של הצד השני להפנות אליך לקוחות.
          </p>
          <p>
            נהיה רגע ריאליות ונביט למציאות בעיניים: <br>
            האמת הפשוטה היא שאין מישהו שבאמת רוצה לעזור לך, ולכן עושה שת"פ. <br>
            הצד השני רוצה לעזור לעצמו, לעסק שלו. <br>
            לכן, אם הצלחת ליצור מצב שכל העברת לקוח אליך גורמת אוטומטית לרווח עבור המפנה אליך, הצלחת לייצר אינטרס משותף שישרוד לאורך זמן.
          </p>
          <p class="blue-border">
            שימי לב! <br>
            כמו שברור לך שיש צורך להקדיש זמן לשירות לקוחות ולייצור - <br>
            כך חובה להקדיש זמן לתכנון שת"פ כדי שבאמת יהווה ערוץ הכנסה שיפעל בשבילך.

      </p>
      <p>
        כפי שצוין קודם לכן, על מנת שמישהי זרה תתחיל לשלוח אליך לקוחות באופן קבוע, <br>
        חשוב שהאינטרסים שלה יבואו לידי ביטוי. <br>
        <strong>חובה לבנות מודל עסקי משותף לשתיכן</strong> לכן . <br>
        <strong>מודל שת"פ שישרת את האינטרסים של שתיכן, לפחות באותה המידה.</strong>

      </p>
      <p>
        <i>
          לדוגמה: <br>
          אם יש לי חנות בגדי תינוקות, אני אחפש מישהי שעובדת עם תינוקות. <br>
          אבל לא סתם אחת, אלא כזאת שהמוצרים שלי יכולים לשפר את השירות או המוצר שלה. <br>
          למשל, מישהי שמעבירה סדנאות תנועה לתינוקות <br>
          והבגדים המיוחדים שאני מציעה בחנות שלי <br>
          מאפשרים גמישות לתינוקות.
        </i>
      </p>
      <p>
        האינטרס שלה הוא שהתינוקות בסדנה שלה יוכלו לנוע בנוחות. <br>
        לכן אם <strong>באמת</strong> המוצרים שלי ישפרו את חווית המשתמש בסדנה שלה - <br>
        רק אז היא באמת תהיה מעוניינת שהלקוחות שלה יפיקו את המקסימום אצלה. <br>
        ואז יכול לעזור שובר הנחה שאתן ללקוחות שלה.
      </p>
      <p>
        היא תשלח אלי את לקוחותיה לרכוש את אותם בגדי תינוקות בהנחה, כי זה משרת את האינטרס שלה.
      </p>
      <p>
        האינטרס שלי הוא שהלקוחות שלה יגיעו לחנות לממש את ההנחה, ואוכל להציע להן מוצרים נוספים.
      </p>
      <p>
        שיתוף הפעולה העסקי שלנו למעשה משרת את האינטרס שלה, אבל שולח לכיווני לקוחות חדשים באופן רציף.
      </p>
      <p>
        <strong> שיתוף פעולה נכון הוא שת"פ שהאינטרס של הצד השני</strong> <br>
        <strong> ממומש באופן בולט יותר מאשר האינטרס שלי.</strong> <br>
        ברגע שהצלחנו לייצר שת"פ שכזה אז באמת ניתן להתייחס אליו כערוץ הכנסה נוסף. <br>
        כפי שבדוגמא שלנו, אותה מדריכה תמשיך לשלוח אלי לחנות לקוחות באופן קבוע. <br>
        פשוט מכיוון שזה מחזק אותה מול לקוחותיה, לא בגלל שקיבלה ממני כרטיס ביקור של חנות לדברי תינוקות.

          </p>
        </section>
      </div> -->

<!-- </body>
</html> -->