<div class="container form-group">
    <div class="Mytooltip">
        <img (click)="close()" src="../../../../../assets/icons/x.png" class="icon_s" alt="סגירת מודעה">
    </div>
    <h1 *ngIf="!groupBusiness.Role">הוספת עסק לקבוצה </h1>
    <h1 *ngIf="groupBusiness.Role">עדכון חברה בקבוצה </h1>
    <ng-container *ngIf="form">

        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="flex form-wrap">
                <div class="form-half">
                    <div class="form-group">
                        <mat-label>id קבוצה</mat-label>
                        <input type="text" formControlName="idgroup" class="inputtext">
                    </div>
                    <div class="form-group">
                        <mat-label>תפקיד</mat-label>
                        <select type="text" formControlName="role" class="inputtext" placeholder="בחרי תפקיד">
                            <!-- <option value="" disabled selected>תפקיד</option> -->
                            <option value="מנהלת">מנהלת</option>
                            <option value="חברה">חברה</option>
                        </select>
                    </div>
                </div>
                <div class="form-half">
                    <div class="form-group">
                        <mat-label>שם עסק - חברה</mat-label>
                  
                        <ng-multiselect-dropdown [settings]="dropdownBusinessesSettings" [data]="buisnessList"
                                    placeholder="התחילי להקליד את שם העסק" formControlName="buisness">
                                    <ng-template #optionsTemplate let-item let-option="option" let-id="id"
                                        let-isSelected="isSelected">
                                        <div>
                                            <label> {{option}} </label>
                                        </div>

                                    </ng-template>
                        </ng-multiselect-dropdown>
                    </div>

                </div>
            </div>
            <br>
            <div class="Mytooltip text-align-center">
                <button type="submit" class="next-button" [disabled]="!form.valid">שמירה</button>
            </div>
        </form>
    </ng-container>
</div>