.icon_s {
    max-width: 2rem;
    max-height: 2rem;
    cursor: pointer;
    position: absolute;
    left: 0;
}
button.next-button{
    cursor: pointer;
}
button.next-button:disabled{
    cursor:not-allowed;
}