.input-field {
    background-color: transparent;
    border: unset;
    border-bottom: solid gray 1px;
    margin-bottom: 1.8rem;
    width: 100%;
}
.errorMessage {
    color: red !important;
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
}
.center {
    text-align: center;
}
.container-login {
    display: flex;
    row-gap: 0.8rem;
    flex-direction: column;
    padding: 0 3rem 3rem 3rem;
    justify-items: center;
    align-items: center;
    // background: #fafafa 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 30px #aaa8a829;
    // border: 1px solid #ffffff;
    opacity: 1;
}
.btn-1 {
    margin-top: 0;
    width: 85%;
}
.btn-2 {
    padding: 0.45rem 3rem !important;
    margin-top: 20px;
    border-radius: 1.5rem !important;
    width: 60%;
    margin-right: 3.5rem !important;
}
