//colors
$dark-color: rgb(59, 57, 57);
$primary-color: #333;
$white-color: white;
$light-gray-color: #f3f3f3;
$dark-gray-color: #c9c9c9;
$secendary-gray-color: #d8d8d8;
$dark-gray-color: #e7e9ed;
$royal-blue-color: #373cf5;
$royal-blue-cs-color: #4829f7;
$dark-blue-color: #19294d;
$light-turquoise-color: #ccfaf9;
$dark-turquoise-color: #5ff8f3;
$secendary-turquoise-color: #00c8f9;
$secendary-blue-color: #04e6e0;
$light-green-color: #4ebe9a;
$light-pink-color: #ff607c;
$light-red: #f16b7e;
$scroll-bar-turquoise-color: #d3f2f1;
$light-footer-color: #e2e543;
$light-orange-cs-color: #fbb040;

$black-color: #152046;

// $secendary-color: rgb(199, 191, 191);
 $light-selected-color: #f4f4f4;

//width
$container-dextop-width: 70%;
$container-tablet-width: 80%;
$container-mobile-width: 100%;
