<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>רשימת שירותים בקטלוג</title>
</head>

<body>
    <!-- <p-breadcrumb [model]="breadcrumbService.breadcrumbs$.source | async"></p-breadcrumb> -->
    <div class="text">
        <button class="blue-big-button" (click)="addService()">הוסף שירות</button>
        <!-- <h1>רשימת הזמנות</h1> -->
        <p-table [value]="WindoSiteServices" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>סוג שירות</th>
                    <th>תאור</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-SiteServices>
                <tr>
                    <td>{{SiteServices.Id}}</td>
                    <td>{{SiteServices.Name}}</td>
                    <td>{{SiteServices.Description}}</td>
                    <td>
                        <div class="flex space-around">
                            <div class="action-col" (click)="editService(SiteServices)">
                                <i class="pi pi-pencil"></i>
                                <span class="icon_p">ערכי</span>
                            </div>
                            <div class="action-col" (click)="deleteService(SiteServices)">
                                <i class="pi pi-trash"></i>
                                <span class="icon_p">מחקי</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</body>

</html>