<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>יצירת קשר</title>
</head>

<!-- <app-header></app-header>
<div class="after-header font-color-dark"></div> -->
<br><br><br>
<body>
<div class="container">
    <h1>תהליך הרישום הושלם!</h1>
    <span>{{ isSucceeded$ | async }}</span>
    <div onload="sendToLogin()"></div>
</div>
 
</body>
</html>