<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>הצהרת נגישות</title>
</head>

<body>
    <br>

    <p-breadcrumb [model]="breadcrumbService.breadcrumbs$.source | async"></p-breadcrumb>
    <section>
        <h2>הצהרת נגישות</h2>
        <section class="mavo">
            <h3>מבוא</h3>
            <p>
                האינטרנט מהווה כיום את המאגר הגדול ביותר לחופש המידע עבור כלל המשתמשים, ומשתמשים בעלי מוגבלויות בפרט.
                ככזה, אנו שמים חשיבות רבה במתן אפשרות שווה לאנשים עם מוגבלות לשימוש במידע המוצג באתר, ולאפשר חווית גלישה
                טובה יותר.
                <br>
                אנו שואפים להבטיח כי השירותים הדיגיטליים יהיו נגישים לאנשים עם מוגבלויות, ועל כן הושקעו משאבים רבים להקל
                את השימוש באתר עבור אנשים עם מוגבלויות,
                ככל האפשר, מתוך אמונה כי לכל אדם מגיעה הזכות לחיות בשוויון, כבוד, נוחות ועצמאות.
                <br>
                כדי לממש הבטחה זו, אנו שואפים לדבוק ככל האפשר בהמלצות התקן הישראלי (ת"י 5568) לנגישות תכנים באינטרנט
                ברמת AA ומסמך WCAG2.1 הבינלאומי.
            </p>
        </section>
        <section class="ketzad">
            <h3>כיצד עובדת ההנגשה באתר?</h3>
            <p>
                באתר מוצב תפריט הנגשה של חברת הנגשת אתרים – נגיש בקליק. לחיצה על התפריט מאפשרת פתיחת כפתורי ההנגשה. לאחר
                בחירת נושא בתפריט יש להמתין לטעינת הדף.
                התוכנה פועלת בדפדפנים הפופולריים: Chrome, Firefox, Safari, Opera. אחריות השימוש והיישום באתר חלה על בעלי
                האתר ו/או מי מטעמו לרבות התוכן המוצג באתר בכפוף למגבלות ולתנאי השימוש בתוכנה.
            </p>
        </section>
        <section class="efsharot">
            <h3>אפשרות הנגישות בתפריט:</h3>
            <p>
                <li> התאמה לניווט מקלדת – מתן אפשרות לניווט ע״י מקלדת</li>
                <li> התאמת האתר לקורא מסך – התאמת האתר עבור טכנולוגיות מסייעות כגון NVDA, JAWS</li>
                <li>הגדלת פונט האתר ל־5 גדלים שונים </li>
                <li> חסימת הבהובים – עצירת אלמנטים נעים וחסימת הבהובים</li>
                <li> התאמת ניגודיות – שינוי ניגודיות צבעים על בסיס רקע כהה</li>
                <li> התאמת ניגודיות – שינוי ניגודיות צבעים על בסיס רקע בהיר</li>
                <li>התאמת אתר לעיוורי צבעים </li>
                <li> שינוי הפונט לקריא יותר</li>
                <li> הגדלת הסמן ושינוי צבעו לשחור או לבן </li>
                <li> הגדלת התצוגה לכ־200%</li>
                <li> הדגשת קישורים באתר</li>
                <li> הדגשת כותרות באתר</li>
                <li> הצגת תיאור אלטרנטיבי לתמונות</li>
                <li> הצהרת נגישות</li>
                <li> שליחת משוב נגישות</li>
            </p>
            <br>
            <h3>פניה לרכז הנגישות</h3>
            <p>
                אם במהלך הגלישה באתר נתקלתם בקושי בנושא נגישות, צוות הנגישות של החברה עומד לרשותכם במגוון ערוצים לפנייה
                בנושאי נגישות, נשמח לקבל מכם משוב.
            </p>
            <br>
            <h4>פרטי רכז/ת נגישות בחברה</h4>
            <p>
                <span class="strong"> שם&nbsp;: </span>&nbsp;&nbsp; רבקי כהן
                <br>
                <span class="strong"> טלפון &nbsp; :</span>&nbsp;&nbsp; 02-5388604
                <br>
                <span class="strong"> אימייל&nbsp;: </span> &nbsp;&nbsp; rc@temech.org
                <br>
                <span class="strong"> כתובת למשלוח דואר&nbsp;: </span> &nbsp;&nbsp; יפו 216, ירושלים
            </p>
        </section>
        <section class="pirsum">
            <h3>פרסום הסדרי נגישות בחברה (בהתאם לארגון, אופיו ושרותיו)</h3>
            <p>
                <li>פירוט הסדרי הנגישות הפיזיים של המשרדים, חנויות, נכסים:</li>
                <li>חניות נכים</li>
                <li>דרכי גישה</li>
                <li>כניסות</li>
                <li>אזורי המתנה </li>
                <li>דלפק כניסה / שירות / מודיעין </li>
                <li>שירותי נכים </li>
                <li>מעליות</li>
                <li>דרכי התקשרות חלופיות לטלפון (מייל, פקס, sms) </li>
                <li>הדרכות עובדים לשירות נגיש </li>
                <li>מידע בפורמטים נגישים, פרסומים נגישים</li>
            </p>
        </section>
    </section>
    <p> תאריך עדכון : 9/12/21</p>
    <br>
    <br>

</body>

</html>