.btn-secendary-dark:hover {
    background-color: #373cf5 !important;
    color: #fff;
    opacity: 1;
}

.btn-secendary-dark{
    margin: 0 0 0 .7rem;
    border-radius: 0;
}

.tags img{
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
}
.tags:last-child{
    margin-left: .5rem;
}