@model ModelService.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password confirmation";
}

@section Styles {

    
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style type="text/css">

        @@font-face {
            font-family: 'ploni-bold';
            font-weight: 700;
            font-style: normal;
            src: url('../fonts/aaa-fonts/webfont_files/ploni-bold-aaa.woff2') format('woff2'), url('../fonts/aaa-fonts/webfont_files/ploni-bold-aaa.woff') format('woff'), url('../../fonts/aaa-fonts/webfont_files/ploni-bold-aaa.woff') format('truetype');
        }

        @@font-face {
            font-family: 'ploni';
            font-weight: 400;
            font-style: normal;
            src: url('../fonts/aaa-fonts/webfont_files/ploni-regular-aaa.woff2') format('woff2'), url('../fonts/aaa-fonts/webfont_files/ploni-regular-aaa.woff') format('woff'), url('../../fonts/aaa-fonts/webfont_files/ploni-bold-aaa.woff') format('truetype');
        }

        html,
        body {
            font-family: "ploni" sans-serif !important;
            direction: rtl;
            text-align: center;
            background: #19294d;
        }

        .sec-wrapper {
            background: #fff;
            padding: 2rem;
            border: 1px solid #eaecec;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            border-radius: 2rem;
            max-width: 500px;
            margin: 5% auto 14px;
            text-align: center;
            height: 35vh;
            width: 45vw;
            box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }



        h2 {
            font-size:3rem;
            margin-top: 1.5rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #19294D;
            font-weight: bold;
        }

        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.5rem;
        }

        .btn {
            margin-top: 2rem;
            border-radius: 30px;
            background-color: #373cf5;
            color: white;
            font-weight: bold;
            padding: 0.8rem 2.5rem;
            border: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        a{
            text-decoration:none;
            color:white;
        }

        .x {
            float: left;
        }
    </style>
</head>

<body>
    <div class="sec-wrapper">
        @*<img (click)="close()" class="x" src="../../CMS_CORE_NG/ClientApp/src/assets/icons/x.png" class="icon_s" alt="סגירת מודעה" />*@
        <div class="white-box" style="text-align:center">
            <h2>הצליח לך!</h2>
            <p> הסיסמה החדשה שלך נשמרה בהצלחה.</p>
            <button class="btn"><a href="/">היכנסי לאתר</a></button>
        </div>
    </div>
</body>

</html>


