<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>צ'אטים</title>
  </head>
 
  <body>
    <!-- <header>
      <p-breadcrumb [model]="breadcrumbService.breadcrumbs$ | async"></p-breadcrumb>
    </header> -->
    <section class="card headLine flex-row">
      <div class="container_ad flex">
        <h3>כל השיחות</h3>
        <i class="fa fa-search mxl-1"></i>
      </div>
      <div class="container_ad1 chat">
        <img
          class="profile-img-radius"
          src="../../assets/flower.jpg"
          alt=""
          width="50"
          />
        <div>
          <h4>Studio Art</h4>
          <span>נראתה לאחרונה לפני יומיים</span>
        </div>
      </div>
      <div class="item3 flex">
        <i class="fa fa-trash-o mxr-auto"></i>
        <i class="fa fa-envelope-open-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </section>
    <div class="flex">
      <!-- aside -->
      <aside class="aside">
        <div class="card chat flex-row">
          <img
            class="profile-img-radius"
            src="../../assets/flower.jpg"
            alt=""
            width="10"
            />
          <div>
            <h4>Studio Art</h4>
            <span>25 בינואר</span>
          </div>
          <div class="mxr-auto ltr">
            <i class="fa fa-star-o block"></i>
            <span>לפני יומיים</span>
          </div>
        </div>
        <div class="card chat flex-row">
          <img
            class="profile-img-radius"
            src="../../assets/flower.jpg"
            alt=""
            width="10"
            />
          <div>
            <h4>Studio Art</h4>
            <span>25 בינואר</span>
          </div>
          <div class="mxr-auto ltr">
            <i class="fa fa-star-o block"></i>
            <span>לפני יומיים</span>
          </div>
        </div>
        <div class="card chat flex-row">
          <img
            class="profile-img-radius"
            src="../../assets/flower.jpg"
            alt=""
            width="10"
            />
          <div>
            <h4>Studio Art</h4>
            <span>25 בינואר</span>
          </div>
          <div class="mxr-auto ltr">
            <i class="fa fa-star-o block"></i>
            <span>לפני יומיים</span>
          </div>
        </div>
      </aside>
      <!-- main content -->
      <main class="card main-content">
        <div class="chat myb-1">
          <img
            class="profile-img-radius"
            src="../../assets/flower.jpg"
            alt=""
            width="10"
            />
          <div>
            <h4>Studio Art</h4>
            <span class="ltr">25 בינואר</span>
            <p>יש מצב שנשתה קפה יחד לסגור ענינים</p>
          </div>
        </div>
        <div class="chat myb-1">
          <img
            class="profile-img-radius"
            src="../../assets/flower.jpg"
            alt=""
            width="10"
            />
          <div>
            <h4>Studio Art</h4>
            <span>25 בינואר</span>
            <p>יש מצב שנשתה קפה יחד לסגור ענינים</p>
          </div>
        </div>
        <div class="chat myb-1">
          <img
            class="profile-img-radius"
            src="../../assets/flower.jpg"
            alt=""
            width="10"
            />
          <div>
            <h4>Studio Art</h4>
            <span>25 בינואר</span>
            <p>יש מצב שנשתה קפה יחד לסגור ענינים</p>
          </div>
        </div>
        <div class="chat myb-1">
          <img
            class="profile-img-radius"
            src="../../assets/flower.jpg"
            alt=""
            width="10"
            />
          <div>
            <h4>Studio Art</h4>
            <span>25 בינואר</span>
            <p>יש מצב שנשתה קפה יחד לסגור ענינים</p>
          </div>
        </div>
      </main>
      <!-- profil -->
      <section class="profile">
        <img
          class="img-radius"
          src="../../assets/flower.jpg"
          alt=""
          width="150"
          />
        <h3 class="myb-1">סטודיו ארט</h3>
        <p class="myb-1">סטודיו למיתוג ועיצוב</p>
        <a class="myb-1" href="">www.studioAt.com</a>
        <a class="myb-1" href="">studioArt@gmail.com</a>
        <p class="myb-1"><i class="fa fa-map-marker myb-1"></i>ירושלים</p>
        <p id="p1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Modi ullam
          doloribus necessitatibus adipisci repudiandae perferendis
          dignissimos,
          expedita remque odio inventore cumque impedit corporis
          consequatur
          dolore eum non architecto est quam?
        </p>
      </section>
    </div>

  </body>
</html>
